*{
  box-sizing: border-box;
}
body{
  background-color: black;
}
.container{
  display: grid;
  grid-template-columns: 280px 280px 280px;
  grid-template-rows: 290px 280px;
  column-gap: 10px;
  row-gap: 6px;
  margin-left: 190px;
  margin-top: 10px;
}
h4{
  color: white;
  font-size: 13px;
}
.box{
  border-radius: 6px;
  background-color: rgb(48, 46, 46);
  height: 280px;
}
img{
  margin-left: 8px;
  margin-top: 10px;
  height: 190px;
  width: 259px;
  border-radius: 15px;
}
.box h4,p{
  margin-left: 27px;
  margin-top: 0px;
  color: white;
}
.para{
  display: flex;
  flex-direction: row;
}