*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: 350px 350px 350px;
    gap: 25px;
    margin: 20px;
    margin-left: 90px;
    grid-template-rows: 250px 250px;

}
.item{
    background-color: rgb(203, 28, 145);
    border: 2px solid black;
    border-radius: 10px;
}
.inside{
    text-align: center;
}
.image img{
    height: 170px;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
}
.head{
    text-align:left;
    margin-left: 30px;
}
.text{
    text-align:left;
    margin-left: 30px;
}