*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box1{
    display: block;
    background-color: blue;
    border: 2px solid black;
}
.box2{
    display: inline-block;
    background-color: red;
}
.box3{
    display: flex;
    background-color: yellow;
}
.box4{
    display: flex;
}
.box4{
    background-color: rgb(203, 203, 86);
}